* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; }
body {
  background-color: #ffeb99;
}

.gradient-container {
  padding: 14px 0px;
}

.bg-gradient {
  background: url(images/background.jpg) top center;
  background-size: cover;
  height: 180px;
}

.bg-gradient-line {
  height: 100%;
  width: 2px;
  background: black;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1.5px;
}

.become {
  font-family: "Become";
}

.relative-book {
  font-family: "RelativeBook";
}

.logo { width: 50%; }
@media only screen and (max-width: 820px) {
  .coming-up { width: 60%; }
}
@media only screen and (max-width: 730px) {
  .coming-up { width: calc(100% - 180px) !important; }
}
@media only screen and (max-width: 620px) {
  .logo { width: 100% !important; }
}

.shape {
  position: absolute;
  top: 34px;
  right: 34px;
  width: 112px;
}

.circles { 
  position: absolute;
  top: 34px;
  right: 34px;
}

@media only screen and (max-width: 620px) {
  .circles {
    width: 100%;
    bottom: 30px;
    left: 0px;
    top: auto;
    right: auto;
    text-align: center;
  }
}

.circle {
  width: 70px;
  height: 70px;
  background: black;
  border-radius: 35px;
  display: inline-block;
}

.circle:first-child {
  animation-name: animation1;
  animation-duration: 5.0s;
  animation-iteration-count: infinite;
}

.circle:nth-child(2) {
  animation-name: animation2;
  animation-duration: 4.0s;
  animation-iteration-count: infinite;
}

.circle:last-child {
  animation-name: animation3;
  animation-duration: 8.0s;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 620px) {
  .circle {
    width: 26%;
    height: 0;

    padding-bottom: 26%;
    border-radius: 100px;
  }
}

.container-outer {
  margin: 0px auto;
  width: 100%;
  max-width: 1020px;
  padding: 24px;
  padding-bottom: 0;
}

.height-full {
  height: 100vh;
  max-height: 760px;
  min-height: 500px;
}
@media only screen and (max-width: 620px) {
  .height-full {
    height: auto;
  }
}

.container-outer:last-child {
  padding-bottom: 24px;
}

.container-inner {
  border: 2px solid black;
  height: 100%;
}

.section { padding: 34px; }
@media only screen and (max-width: 620px) {
  .section { padding: 30px; }
  .container-outer:first-child > .container-inner > .section:first-child {
    padding-bottom: 200px;
  }
}

p {
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
  line-height: 1.5rem;
}

@media only screen and (max-width: 620px) {
  p { font-size: 1.3rem }
}

p.subhead { margin-top: 24px; }

@media only screen and (max-width: 620px) {
  p.subhead { margin-top: 14px; }
}

.request-invitation {
  padding: 34px;
  background: black !important;
  color: #ffeb99 !important;
  text-align: center;
  border-top: 2px solid black;
  font-size: 26px;
  font-family: "RelativeBook";
}

.request-invitation:hover {
  background: #ffeb99 !important;
  color: black !important;
}

@media only screen and (max-width: 620px) {
  .request-invitation {
    padding: 30px 0px;
    border-bottom: none;
  }
}

.big-link {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.14s;
  background: transparent;
}

/* .big-link:hover { */
/*   color: #ffeb99; */
/*   background: black; */
/* } */

.cards {
  border-top: 2px solid black;
}

@media only screen and (max-width: 620px) {
  .card { border-bottom: 2px solid black; }
}

@media only screen and (max-width: 620px) {
  .card:last-child { border-bottom: 0px; }
}

.card { border-right: 2px solid black; }
.card:last-child { border-right: none; }

.card .big-link > div {
  height: 100%;
}

.card p {
  font-size: 3rem;
  line-height: 3rem;
}

@media only screen and (max-width: 620px) {
  .speaker-image {
    height: 200px;
  }
}

@media only screen and (max-width: 910px) {
  .card p { font-size: 2rem; line-height: 2rem; }
}
@media only screen and (max-width: 800px) {
  .card p { font-size: 1.8rem; line-height: 1.8rem; }
}

.card .big-link {
  padding: 34px; 
}
@media only screen and (max-width: 620px) {
  .card { border-right: none; }
  .card .big-link {
    padding: 30px;
  }
  .card p {
    padding-bottom: 0 !important;
  }
}

.card:last-child .big-link { border-right: none; }

p.datetime {
  font-size: 2rem;
}

.datetime p {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

@media only screen and (max-width: 620px) {
  .datetime p {
    font-size: 1.0rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 820px) {
  p.datetime { font-size: 1.5rem; }
}
@media only screen and (max-width: 680px) {
  p.datetime {
    font-size: 1.3rem;
    margin-top: 34px;
  }
}

.footer-logo {
  fill: #ffeb99;
}

@media only screen and (max-width: 620px) {
  .footer { 
    display: block;
    text-align: center;
  }
  .footer-logo {
    width: 222px;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 620px) {
  .footer-logo-container {
    width: 100%;
    text-align: center;
  }
}

.black-bar {
  padding: 24px;
  background: black;
  align-items: center;
}

@keyframes animation1 {
  0% { transform: translateX(0px); }
  50% { transform: translateX(3px); }
  100% { transform: translateX(0px); }
}

@keyframes animation2 {
  0% { transform: translateX(0px); }
  33% { transform: translateX(-3px); }
  66% { transform: translateX(1px); }
  100% { transform: translateX(0px); }
}

@keyframes animation3 {
  0% { transform: translateX(0); }
  33% { transform: translateX(-2px) }
  66% { transform: translateX(3px); }
  100% { transform: translateX(0); }
}

.dialog {
  padding: 24px;
}

@media (hover: none) {
  .request-invitation:hover {
    background: black !important;
    color: #ffeb99 !important;
  }
}

.Box--overlay {
  background: black;
}

form > div {
  width: 100%;
}

input[type=text],
input[type=email] {
  width: 100%;
  border: none;
  background: black;
  padding: 8px 0px;
  font-size: 1.3em;
  border-bottom: 1px solid #ffeb99;
  color: #ffeb99;
  margin-top: 14px;
  border-radius: 0px;
}

form > div > input[type=text] {
  margin-top: 0;
}

@media only screen and (max-width: 620px) {
  form > div > input[type=text]:first-child {
    margin-top: 0px;
    margin-right: 0px !important;
  }
  form > div > input[type=text] {
    margin-top: 14px;
  }
}

input[type=submit] {
  margin-top: 26px;
  border: 1px solid #ffeb99;
  color: #ffeb99;
  background: black;
  font-size: 1.3em;
  padding: 6px 10px;
  border-radius: 0px;
  -webkit-appearance: none;
}

input[type=text]::placeholder,
input[type=email]::placeholder {
  color: #ffeb99;
}

.social-icon {
  width: 70px;
  height: 70px;
  border-radius: 70px;
}

.social-container {
  height: 100%;
}

.social-container a {
  text-decoration: none;
}

@media screen and (max-width: 620px) {
  .social-container {
    text-align: center;
  }
}

.yellow {
  color: #ffeb99;
}

@media only screen and (max-width: 620px) {
  .information {
    display: block;
  }
}

.information > div:first-child {
  padding-right: 80px;
}

@media only screen and (max-width: 620px) {
  .information > div:first-child {
    padding-right: 0px;
  }
}

.description {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

@media only screen and (max-width: 620px) {
  .description { 
    font-size: 1.1rem;
  }
}

.time-and-date { height: 100%; }
@media only screen and (max-width: 620px) {
  .time-and-date p { 
    margin-top: 20px; 
    font-size: 1.2rem;
  }
}

.time-and-date p {
  font-weight: 600;
}

@media only screen and (max-width: 620px) {
  

