* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; }
body {
  background-image: url("images/background.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.become {
  font-family: "Become";
}

.relative-book {
  font-family: "RelativeBook";
}

.logo { width: 50%; }
@media only screen and (max-width: 620px) {
  .logo { width: 100%; }
}

.circles { 
  position: absolute;
  top: 40px;
  right: 40px;
}

@media only screen and (max-width: 620px) {
  .circles {
    width: 100%;
    bottom: 30px;
    left: 0px;
    top: auto;
    right: auto;
    text-align: center;
  }
}

.circle {
  width: 70px;
  height: 70px;
  background: black;
  border-radius: 35px;
  display: inline-block;
}

@media only screen and (max-width: 620px) {
  .circle {
    width: 26%;
    height: 0;
    padding-bottom: 26%;
    border-radius: 100px;
  }
}

.container-outer {
  margin: 0px auto;
  width: 100%;
  max-width: 1020px;
  height: 100vh;
  padding: 24px;
}

.container-inner {
  border: 3px solid black;
  height: 100%;
}

.section { padding: 40px; }
@media only screen and (max-width: 620px) {
  .section { padding: 30px; }
}

p {
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 620px) {
  p { font-size: 1.3rem }
}

p.subhead { margin-top: 12px; }

@media only screen and (max-width: 620px) {
  p.subhead { margin-top: 14px; }
}

.request-invitation {
  padding: 40px;
  text-align: center;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 26px;
  font-family: "RelativeBook";
}

@media only screen and (max-width: 620px) {
  .request-invitation { 
    padding: 30px 0px;
    border-bottom: none;
  }
}

.big-link {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.big-link:hover {
  color: rgb(253, 229, 157);
  background: black;
}

.card { border-right: 3px solid black; }
@media only screen and (max-width: 620px) {
  .card { 
    border-right: none;
    border-bottom: 3px solid black;
  }
}

.card:last-child { border-right: 0px; }
@media only screen and (max-width: 620px) {
  .card:last-child { border-bottom: 0px; }
}

.card > a > div {
  height: 100%;
}

.card p {
  font-size: 3rem;
}

.card a {
  padding: 40px;
}

p.datetime {
  font-size: 2rem;
}

@media only screen and (max-width: 910px) {
  .card p {
    font-size: 2em;
  }

  p.datetime {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 620px) {
  .hide-sm { display: none !important; }
}
