.d-flex {
  display: flex;
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-1 {
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

@font-face {
  font-family: "Become";
  src: url("fonts/Become/become.eot");
  src: url("fonts/Become/become.woff") format("woff");
}

@font-face {
  font-family: "RelativeBook";
  src: url("fonts/Relative/relative-book.eot");
  src: url("fonts/Relative/relative-book.woff") format("woff");
}

@font-face {
  font-family: "RelativeFaux";
  src: url("fonts/Relative/relative-faux.eot");
  src: url("fonts/Relative/relative-faux.woff") format("woff");
}

.flex-row-lg { flex-direction: row; }
.flex-grow-lg { flex-grow: 1; }

@media only screen and (max-width: 620px) {
  .d-block-sm { display: block !important; }
  .flex-grow-sm { flex-grow: 1 !important }
  .flex-grow-lg { flex-grow: inherit }
}

@media only screen and (max-width: 620px) {
  .hide-sm { display: none !important; }
}

